.c-calc
  width: 50vw
  margin-left: 10%

  .c-calc__display
    border: 1px solid black
    text-align: right
    padding-right: 1em
    padding-top: 1em
    padding-bottom: 1em
    min-height: 2em

    .c-calc__output
      font-size: 1.6em

  .l-grid
    display: grid
    grid-template-columns: 25% 25% 25% 25%
    grid-template-rows: 5em 5em 5em 5em 5em
    
    .c-calc__btn
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid gray
      font-size: 2em
      transition: background-color 0.2s
      &:hover
        background-color: #ffe0a8

      &.btn--op
        background-color: #f7f7f7
        color: black
        border: 1px solid gray
        transition: background-color 0.2s
        &:hover
          background-color: #ffe0a8

      &.btn--equals
        background-color: #def5ff
        color: black
        border: 1px solid gray
        transition: background-color 0.2s
        &:hover
          background-color: lightgreen